@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  main {
    width: 100%;
    height: auto;
    min-width: 320px;
    max-width: 900px;
  }
  .main-exchange-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}