@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  main {
    width: 100%;
    height: auto;
    min-width: 320px;
  }
  .main-exchange-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .main-exchange-container__backgroundImg {
    width: 195px;
    height: 195px;
    margin-top: 59px;
    margin-bottom: 40px;
    background-image: url(../../assets/img/Bitcoin.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .main-exchange-container__title {
    width: 90%;
    margin: 0 auto;
  }
  .main-exchange-container__title h2 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    margin-bottom: 24px;
  }
  .main-exchange-container__title p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
  }
}