.card-container {
  width: 90%;
  min-width: 288px;
  max-width: 350px;
  min-height: 152px;
  border-radius: 4px;
  background-color: #282623;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-top: 14px;
  margin-bottom: 16px;
}

.card-container img {
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
}

.card-container h3 {
  min-width: 288px;
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  margin-bottom: 2px;
  margin-bottom: 10px;
}

.card-container p {
  min-width: 252px;
  color: #808080;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
}